
<div class="chat container d-flex justify-content-center">

  <div class="row d-flex justify-content-center w-100">
    <div class="col-11 text-center">
      <label name="user" id="userName"></label>
    </div>
    <div class="col-11 d-flex justify-content-center inputBox rounded card">
      <label class="rounded" for="message">MENSAJE</label>
      <input class="form-control rounded mb-3 me-2" type="text" placeholder="" aria-label="Input" name="message">
    </div>
    <div class="col-11 d-flex justify-content-center rounded m-3">
      <div id="messages" class="row d-flex justify-content-center rounded">

      </div>
    </div>

  </div>

</div>
{{!--
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" defer></script> --}}
{{!--
<script src="/client/js/chat.js" defer></script> --}}
<!-- includes de handlebars -->