<div class="container  text-center card w-50 p-4">
  <div class="row d-flex justify-content-center">
    <div class="col-12">
      <h5>Nueva Contraseña</h5>
    </div>
    <div class="col-10">
      <form id='login-form' action="/api/sessions/restartpass" method="post">
        <div class="m-2">

        <div class="m-2">
          <div class="d-inline">
            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
            <input id='newass' name="newpass" class="form-control" type="password" aria-label="Not clickable icon">
          </div>
        </div>
      

         {{#if error}}
        <div class="mb-3">
          <span id="lblError" style="color:tomato">{{error}}</span>
        </div>
        {{/if}}


        <button class="btn btn-secondary" type="submit">Restablecer</button>
      </form>
    </div>
  </div>
</div>