<div class="container text-center m-2 card w-75">
  <div class="row d-flex justify-content-center">
    <div class="col-12">
      <h3>Registro de Usuario</h3>
    </div>
    <div class="col-12">
      <form id='login-form' action="/api/sessions/signup" method="post">
        <div class="m-2">
          <div class="d-flex justify-content-center">
            <input id="firstname" class="form-control w-50" name="firstname" type="text" placeholder="Nombre">
          </div>
        </div>

        <div class="m-2">
          <div class="d-flex justify-content-center">
            <input id="lastname" name="lastname" class="form-control w-50" type="text" placeholder="Apellido">
          </div>
        </div>

        <div class="m-2">
          <div class="d-flex justify-content-center">
            <input id="email" name="email" class="form-control w-50" type="text" placeholder="Email">
          </div>
        </div>

        <div class="m-2">
          <div class="d-inline d-flex justify-content-center">
            <input id="age" name="age" class="form-control w-50" type="text" placeholder="Edad">
          </div>
        </div>

        <div class="m-2">
          <div class="d-inline d-flex justify-content-center">
            <select id="gender" class="form-control w-50 " name="gender" class="uk-select" aria-label="Select">
              <option>Male</option>
              <option>Female</option>
            </select>
          </div>
        </div>

        <div class="m-2">
          <div class="d-inline d-flex justify-content-center">
            <input id="password" name="password" class="form-control w-50" type="password" placeholder="Contraseña">
          </div>
        </div>

        <div class="m-2 ">
          <div class="d-flex justify-content-center">
            <input id="password2" name="password2" class="form-control w-50" type="password"
              placeholder="Confirma Contraseña">
          </div>
        </div>

        <div class="m-2">
          <div class="d-inline">
            <span>Ya tienes cuenta? <a href="/login">Inicia sesion!</a></span>
          </div>
        </div>

        {{!-- {{#if error}} --}}
        <div class="mb-3">
          <span id="lblError" style="color:tomato">{{error}}</span>
        </div>
        {{!-- {{/if}} --}}
        <button class="btn btn-secondary px-4 m-2" type="submit">Registrarte</button>
      </form>
    </div>
  </div>
</div>